@import '~semantic-ui-css/semantic.min.css';
@import '~reset-css';

body{
  background-color: #f4f7fd;
}

html,body, #root, .wrapper{
  height: 100%;
  color: #202020;

}
* {
  outline: none;
  box-sizing: border-box;
}


.app{
  margin: 20px auto;
  max-width: 760px;
  width: 100%;
}
.sitypage{
  min-height: 350px;
  padding: 1px;
  width: 100%;
  border-radius: 5px;
  box-shadow:  0px 0px 25px rgba(0,0,0,0.04204);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &__loading{  width: 50px;
    height: 50px;
    display: block;}
}
